<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Property Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>

    function validateForm(){

        import { postcodeValidator, postcodeValidatorExistsForCountry } from 'postcode-validator';

        let x = document.forms["search"]["pcode"].value;
        console.log(x);

        if (!x.includes(" ")){
            alert("Post code does not contain a space");
            return false;
        }
    }

</script>
    <style>
    body {
        font-size: 30px;
    }
</style>

</head>
<body>
<div class="container">
    <div class="row align-items-stat">
        <div class="col"></div>
        <div class="col">
            <form action="{{ url_for("search")}}" method="post" name="search" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="postcode">Enter a Post Code with space e.g. 'TN8 5FS':</label>
                    <input type="text" class="form-control" id="postcode" name="pcode" placeholder="postcode" required>
                    <label for="radius">Enter search radius:</label>
                    <input type="text" class="form-control" id="radius" name="radius" placeholder="radius" required>
                    <label for="bedroomnum">Enter number of bedrooms</label>
                    <input type="text" class="form-control" id="bedroomnum" name="bedroomnum" placeholder="bedroom number" required>
                </div>
            <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid">
    <p>Welcome to property search. Search radius is set to a default 0.5km. Please ask about adding additional functions to change search radius.</p>
</div>
</body>
</html>