<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='foundation.css') }}">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
        crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>

     <!-- Compressed JavaScript -->
     <script src=
"https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js">
    </script>
     <script src=
"https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js"
       crossorigin="anonymous">
     </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script type=text/javascript>

    /**Land Registry**/
        $(function(){
            $('a#soldpricejson').click(function(){
                $.get("/landregistry", function (data){
                    soldLR(data, 0);
                });
            });
        });

        /**Zoopla Requests**/

        $(function(){
            $('a#zooplasale').click(function() {
                $.get("/zooplasale", function (data){
                    forSale(data, 0);
                })
            })
        });

        $(function(){
            $('a#zooplalets').click(function() {
                $.get("/zooplalet", function (data){
                    forSale(data, 5);
                })
            })
        });

        /**Right Move AJAX Requests**/
        $(function(){
            $('a#rmovesale').click(function() {
                $.get("/rightmovesale", function (data){
                    forSale(data, 1);
                })
            })
        });

        $(function(){
            $('a#rmovelets').click(function() {
                $.get("/rmoverent", function (data){
                    forSale(data, 3);
                })
            })
        });

        /**ONtheMarket AJAX Requests**/

         $(function(){
            $('a#otmsale').click(function() {
                $.get("/otmsale", function (data){
                    forSale(data, 2);
                })
            })
        });

          $(function(){
            $('a#otmrent').click(function() {
                $.get("/otmrent", function (data){
                    forSale(data, 4);
                })
            })
        });


    /**Sold Prices**/

    $(function(){
            $('a#rmovesold').click(function() {
                $.get("/rmovesold", function (data){
                    sold(data);
                })
            })
        });


    /**Area Statistics**/

    $(function() {
        $('a#crysdata').click(function() {
            $.get("/crystalroof", function (data){
                soldLR(data, 1);
            })
        })
    });

    /**Planning Data**/

    $(function() {
        $('a#planningdata').click(function() {
            $.get("/planningdata", function (data){
                planning(data);
            })
        })
    });

    function soldLR(json_data, ind){

        const section = document.getElementById('forsale');
        section.innerHTML="";
        var table = document.createElement('table');
        table.border = "1";

        console.log(json_data);

        var headers = new Array();
        switch (ind){
            case 0:
                headers.push("LAND REGISTRY: Address", "Price", "Date");
                var headerrow = table.insertRow(-1);
                for (var i =0; i<headers.length; i++) {
                    var headerc = document.createElement("TH");
                    headerc.innerHTML=headers[i];
                    headerrow.append(headerc);
                }
                for (entry of json_data) {
                    row = table.insertRow(-1);
                    for (var i =0; i<entry.length; i++){
                        var cell = row.insertCell(-1);
                        cell.innerHTML = entry[i];
                    }
                }
                break;
            case 1:
                headers.push("RIGHT MOVE: Description", "Data");
                var headerrow = table.insertRow(-1);
                for (var i =0; i<headers.length; i++) {
                    var headerc = document.createElement("TH");
                    headerc.innerHTML=headers[i];
                    headerrow.append(headerc);
                }
                for (entry of json_data){
                    console.log("Entry length: "+entry.length);
                    row = table.insertRow(-1);

                    var cell1 = row.insertCell(-1);
                    cell1.innerHTML = entry[0];


                    var cell2 = row.insertCell(-1);
                    cell2.innerHTML = entry[1];
                }
                break;
        }
        section.appendChild(table);
    }

    function planning(json_data){
        const section = document.getElementById('forsale');
        section.innerHTML = "";

        for (entry of json_data){
            var table = document.createElement('table');

            for (var i=0; i<entry.length; i++){
                var tr = document.createElement('tr');
                var td = document.createElement('td');
                var txt = document.createTextNode(entry[i]);
                td.appendChild(txt);
                tr.appendChild(td);
                table.appendChild(tr);
            }

            section.appendChild(table);
        }
    }

    function forSale(json_data, ind){

        var index = parseInt(ind);
        const section = document.getElementById('forsale');
        section.innerHTML = "";
        const title = document.createElement("h1");
        var url = ''
        var endurl = ''

        switch(index) {
            case 0:
                const ti_cont = document.createTextNode("Zoopla For Sale Results");
                title.appendChild(ti_cont);
                url = 'https://www.zoopla.co.uk/for-sale/details/';
                break;
            case 1:
                const rmov_txt = document.createTextNode("RightMove For Sale Results");
                title.appendChild(rmov_txt);
                url = 'https://www.rightmove.co.uk/properties/';
                break;
            case 2:
                const ontm_txt = document.createTextNode("On The Market For Sale Results");
                title.appendChild(ontm_txt);
                url = 'https://www.onthemarket.com'
                break;
            case 3:
                const rmov_lets = document.createTextNode("RightMove Lettings");
                title.appendChild(rmov_lets);
                url = 'https://www.rightmove.co.uk/properties/'
                endurl = '#/?channel=RES_LET';
                break;
            case 4:
                const ontm_lets = document.createTextNode("On The Market Lettings");
                title.appendChild(ontm_lets);
                url = 'https://www.onthemarket.com'
                break;
            case 5:
                const zoop_lets = document.createTextNode("Zoopla Lettings");
                title.appendChild(zoop_lets);
                url = 'https://www.zoopla.co.uk/to-rent/details/'
                break;
            }

        section.appendChild(title);

        var number = json_data.length;
        const count = document.createTextNode("Total Number of Properties: "+number);
        title.appendChild(count);



        for (prop of json_data) {

            const newDiv = document.createElement("div");
            newDiv.setAttribute("class", "card mb-3");
            newDiv.setAttribute("style", "max-width: 540px;");
            section.appendChild(newDiv);

            const rowdiv2 = document.createElement("div");
            rowdiv2.setAttribute("class", "row no-gutters");
            newDiv.appendChild(rowdiv2);

            const rowdiv = document.createElement("div");
            rowdiv.setAttribute("class", "row no-gutters");
            newDiv.appendChild(rowdiv);

            const divcolmd8 = document.createElement("div");
            divcolmd8.setAttribute("class", "col-md-8");
            rowdiv.appendChild(divcolmd8);
            const cardbody = document.createElement("div");
            cardbody.setAttribute("class", "card=body");
            divcolmd8.appendChild(cardbody);

            for (var i =0; i<prop.length; i++){

                switch (i){
                    case 0:
                        const h5 = document.createElement("h5");
                        const h5_content = document.createTextNode(prop[i]);
                        h5.appendChild(h5_content);
                        cardbody.appendChild(h5);
                        break;
                    case 1:
                        const p = document.createElement("p");
                        const p_content = document.createTextNode(prop[i]);
                        p.appendChild(p_content);
                        cardbody.appendChild(p);
                        break;
                    case 2:
                        const p_branch = document.createElement("p");
                        const b_cont = document.createTextNode(prop[i]);
                        p_branch.appendChild(b_cont);
                        cardbody.appendChild(p_branch);
                        break;
                    case 3:
                        const p_rooms = document.createElement("p");
                        const room_cont = document.createTextNode(prop[i]);
                        p_rooms.appendChild(room_cont);
                        cardbody.appendChild(p_rooms);
                        break;
                    case 4:
                        const p_price = document.createElement("p");
                        const pric_cont = document.createTextNode(prop[i]);
                        p_price.appendChild(pric_cont);
                        cardbody.appendChild(p_price);
                        break;
                    case 5:
                        const coldiv = document.createElement("div");
                        coldiv.setAttribute("class", "col-md-4");
                        const anchor = document.createElement("a");
                        anchor.setAttribute("href", prop[i]);
                        anchor.setAttribute("target", "blank");
                        const img = document.createElement("img");
                        img.src = prop[i+1];
                        anchor.appendChild(img);
                        coldiv.appendChild(anchor);
                        rowdiv.appendChild(coldiv);
                        break;
                    case 6:
                        break;
                }
            }
        }
    }

    function sold(json_data){

        const section = document.getElementById('forsale');
        section.innerHTML = "";
        const title = document.createElement("h1");
        const rmov_sold = document.createTextNode("RightMove Sold");
        title.appendChild(rmov_sold);
        section.appendChild(title);

        var number = json_data.length;
        const count = document.createTextNode("Total Number of Properties: "+number);
        title.appendChild(count);

        for (const prop of json_data) {

            const myArticle = document.createElement('article');

            const address = prop[0];
            const price = prop[1];
            const image = prop[2];
            const url = prop[3];

            const h2 = document.createElement("h3");
            const addr_cont = document.createTextNode(address);
            h2.appendChild(addr_cont);

            const list = document.createElement('ul');

            const img = document.createElement('li');
            img.textContent = image;
            list.appendChild(img);

            //Creating sublist of prices property has been sold for
            const sublist = document.createElement('ul');
            price.forEach((item)=>{
                let li = document.createElement("li");
                li.innerText = item;
                sublist.appendChild(li);
            })
            list.appendChild(sublist);

            const url_listing = document.createElement('li');
            url_listing.textContent = url;
            list.appendChild(url_listing);

            myArticle.appendChild(h2);
            myArticle.appendChild(list);

            section.appendChild(myArticle);
      }

    }

    function setMinP(val){
        const minp = document.getElementById('mpc');
        minp.innerHTML = val;
    }

    </script>
    <style>
        .item {
        width: 10em;
    }

        input {
            display: inline;
        }

         .buttons{
    margin-top:30px;
    }
    .button{
      background-color: #f5f5f5;
      border:none;
      color:#707070;
      font-size:15px;
      padding: 10px 20px;
      margin:5px;
      border-radius:4px;
      outline:none;
    }
    .button:hover{
      border: 1px solid #c8c8c8;
      padding: 9px 19px;
      color:#808080;
    }
    .button:focus{
      border:1px solid #4885ed;
      padding: 9px 19px;
    }
    .bar{
      margin:0 auto;
      width:575px;
      border-radius:30px;
    }
    .bar:hover{
      box-shadow: 1px 1px 8px 1px #dcdcdc;
    }
    .bar:focus-within{
      box-shadow: 1px 1px 8px 1px #dcdcdc;
      outline:none;
    }
    .searchbar{
      height:45px;
      border:none;
      width:500px;
      font-size:16px;
        margin-left: 20px;
    }

    .voice{
      height:20px;
      position:relative;
      top:5px;
      left:10px;
    }
    </style>
</head>
<body>
<ul class="nav nav-pills navbar-left">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<div class="container" style="padding-top: 100px;">
<header class="hero-search-filter">
  <div class="hero-search-filter-content">
    <img class="hero-search-filter-logo" src="https://placehold.it/160x80" alt="" />
    <form class="hero-search-filter-form" action="">
    <div class="input-group input-group-rounded">
        <input class="input-group-field" type="search">
        <div class="input-group-button">
            <input type="submit" class="button secondary" value="Search">
        </div>
    </div>
    </form>
      <ul class="hero-search-filter-menu menu align-center">
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>
          <form action="{{ url_for("update_rooms") }}" method="post" name="minrooms">
                <div class="form-group">
                    <label for="minrooms" style="font-size: 10px;">Number of Beds</label>
                    <select id="minrooms" class="form-select form-select-sm" name="minrooms" style="width: 100px; font-size: 12px;" onchange="this.form.submit()">
                        <option value="studio">Studio</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </form>
      </a>
      </li>
      <li><a href="#"><i class="fa fa-glass" aria-hidden="true"></i>
      <form action="{{ url_for("update_radius") }}" method="post" name="radius">
            <div class="form-group">
             <label for="radius" style="font-size: 10px;">Enter search radius:</label>
                <select id="radius" class="form-select form-select-sm" style="width: 100px; font-size: 12px;" onchange="this.form.submit()" name="radius">
                    <option value="0">+0 miles</option>
                    <option value="0.25">+1/4 miles</option>
                    <option value="0.5">+1/2 miles</option>
                    <option value="1">+1 miles</option>
                    <option value="2">+2 miles</option>
                    <option value="3">+3 miles</option>
                    <option value="5">+5 miles</option>
                    <option value="10">+10 miles</option>
                    <option value="15">+15 miles</option>
                    <option value="20">+20 miles</option>
                    <option value="30">+30 miles</option>
                    <option value="40">+40 miles</option>
                </select>
            </div>
        </form></a>
      </li>
      <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>
       <form action="{{ url_for("update_min_price") }}" style="width: 100px; " id="minprice" method="post" name="minprice">
            <div class="form-group">
              <label for="minprice" style="font-size: 10px;">Select minimum price</label>
                <select id="minpriceoptions" name="minprice" style="font-size: 12px;" onchange="this.form.submit()">
                    <option value="MinPrice" id="mpc"></option>
                     <option value="50000"
                    >£50,000</option>
                        <option value="60000"
                    >£60,000</option>
                        <option value="70000"
                    >£70,000</option>
                        <option value="80000"
                    >£80,000</option>
                        <option value="90000"
                    >£90,000</option>
                        <option value="100000"
                    >£100,000</option>
                        <option value="110000"
                    >£110,000</option>
                        <option value="120000"
                    >£120,000</option>
                        <option value="125000"
                    >£125,000</option>
                        <option value="130000"
                    >£130,000</option>
                        <option value="140000"
                    >£140,000</option>
                        <option value="150000"
                    >£150,000</option>
                        <option value="160000"
                    >£160,000</option>
                        <option value="170000"
                    >£170,000</option>
                        <option value="175000"
                    >£175,000</option>
                        <option value="180000"
                    >£180,000</option>
                        <option value="190000"
                    >£190,000</option>
                        <option value="200000"
                    >£200,000</option>
                        <option value="210000"
                    >£210,000</option>
                        <option value="220000"
                    >£220,000</option>
                        <option value="230000"
                    >£230,000</option>
                        <option value="240000"
                    >£240,000</option>
                        <option value="250000"
                    >£250,000</option>
                        <option value="260000"
                    >£260,000</option>
                        <option value="270000"
                    >£270,000</option>
                        <option value="280000"
                    >£280,000</option>
                        <option value="290000"
                    >£290,000</option>
                        <option value="300000"
                    >£300,000</option>
                        <option value="325000"
                    >£325,000</option>
                        <option value="350000"
                    >£350,000</option>
                        <option value="375000"
                    >£375,000</option>
                        <option value="400000"
                    >£400,000</option>
                        <option value="425000"
                    >£425,000</option>
                        <option value="450000"
                    >£450,000</option>
                        <option value="475000"
                    >£475,000</option>
                        <option value="500000"
                    >£500,000</option>
                        <option value="550000"
                    >£550,000</option>
                        <option value="600000"
                    >£600,000</option>
                        <option value="650000"
                    >£650,000</option>
                        <option value="700000"
                    >£700,000</option>
                        <option value="800000"
                    >£800,000</option>
                        <option value="900000"
                    >£900,000</option>
                        <option value="1000000"
                    >£1,000,000</option>
                        <option value="1250000"
                    >£1,250,000</option>
                        <option value="1500000"
                    >£1,500,000</option>
                        <option value="1750000"
                    >£1,750,000</option>
                        <option value="2000000"
                    >£2,000,000</option>
                        <option value="2500000"
                    >£2,500,000</option>
                        <option value="3000000"
                    >£3,000,000</option>
                        <option value="4000000"
                    >£4,000,000</option>
                        <option value="5000000"
                    >£5,000,000</option>
                        <option value="7500000"
                    >£7,500,000</option>
                        <option value="10000000"
                    >£10,000,000</option>
                        <option value="15000000"
                    >£15,000,000</option>
                        <option value="20000000"
                    >£20,000,000</option>
                </select>
            </div>
        </form>
      </a></li>
      <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>
          <form action="{{ url_for("update_max_price") }}" id="maxprice" style="width: 100px; " method="post" name="maxprice">
    <div class="form-group">
        <label for="maxprice" style="font-size: 10px;">Select max price</label>
        <select id="maxprice" name="maxprice" style="font-size: 12px;" onchange="this.form.submit()">
             <option value="50000"
            >£50,000</option>
                <option value="60000"
            >£60,000</option>
                <option value="70000"
            >£70,000</option>
                <option value="80000"
            >£80,000</option>
                <option value="90000"
            >£90,000</option>
                <option value="100000"
            >£100,000</option>
                <option value="110000"
            >£110,000</option>
                <option value="120000"
            >£120,000</option>
                <option value="125000"
            >£125,000</option>
                <option value="130000"
            >£130,000</option>
                <option value="140000"
            >£140,000</option>
                <option value="150000"
            >£150,000</option>
                <option value="160000"
            >£160,000</option>
                <option value="170000"
            >£170,000</option>
                <option value="175000"
            >£175,000</option>
                <option value="180000"
            >£180,000</option>
                <option value="190000"
            >£190,000</option>
                <option value="200000"
            >£200,000</option>
                <option value="210000"
            >£210,000</option>
                <option value="220000"
            >£220,000</option>
                <option value="230000"
            >£230,000</option>
                <option value="240000"
            >£240,000</option>
                <option value="250000"
            >£250,000</option>
                <option value="260000"
            >£260,000</option>
                <option value="270000"
            >£270,000</option>
                <option value="280000"
            >£280,000</option>
                <option value="290000"
            >£290,000</option>
                <option value="300000"
            >£300,000</option>
                <option value="325000"
            >£325,000</option>
                <option value="350000"
            >£350,000</option>
                <option value="375000"
            >£375,000</option>
                <option value="400000"
            >£400,000</option>
                <option value="425000"
            >£425,000</option>
                <option value="450000"
            >£450,000</option>
                <option value="475000"
            >£475,000</option>
                <option value="500000"
            >£500,000</option>
                <option value="550000"
            >£550,000</option>
                <option value="600000"
            >£600,000</option>
                <option value="650000"
            >£650,000</option>
                <option value="700000"
            >£700,000</option>
                <option value="800000"
            >£800,000</option>
                <option value="900000"
            >£900,000</option>
                <option value="1000000"
            >£1,000,000</option>
                <option value="1250000"
            >£1,250,000</option>
                <option value="1500000"
            >£1,500,000</option>
                <option value="1750000"
            >£1,750,000</option>
                <option value="2000000"
            >£2,000,000</option>
                <option value="2500000"
            >£2,500,000</option>
                <option value="3000000"
            >£3,000,000</option>
                <option value="4000000"
            >£4,000,000</option>
                <option value="5000000"
            >£5,000,000</option>
                <option value="7500000"
            >£7,500,000</option>
                <option value="10000000"
            >£10,000,000</option>
                <option value="15000000"
            >£15,000,000</option>
                <option value="20000000"
            >£20,000,000</option>
        </select>
    </div>
</form>
      </a>
      </li>
    </ul>
    <ul class="hero-search-filter-menu menu align-center">
          <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>
           <div class="dropdown show">
            <a class="dropdown-toggle" data-toggle="dropdown">For Sale
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
{#                    <li><a href=# id=zooplasale>Zoopla</a></li>#}
                    <li><a href=# id=rmovesale>RightMove</a></li>
                    <li><a href=# id=otmsale>OnTheMarket</a></li>
                </ul>
            </div>
          </a></li>
          <li><a href="#"><i class="fa fa-glass" aria-hidden="true"></i>
          <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Land Planning
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href=# id=planningdata>Local Government</a></li>
                </ul>
            </div>
          </a></li>
          <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>
                <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Local Area Statistics
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href=# id=crysdata>Tables</a></li>
                    </ul>
                </div>
            </a>
          </li>
          <li><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>
              <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Transactions
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href=# id=soldpricejson>Land Registry Sold</a></li>
                    <li><a href=# id=rmovesold>RightMove Sold</a></li>
                </ul>
            </div>
          </a>
          </li>
    </ul>
  </div>
</header>
</div>

 <ul>
        <li>PostCode: {{ session['postcode'] }}</li>
        <li>Radius: {{ session['radius'] }}</li>
        <li>Rooms: {{ session['brooms'] }}</li>
        <li>Minimum Price: {{ session['minprice'] }}</li>
        <li>Max price: {{ session['maxprice'] }}</li>
    </ul>

<script>
    $(document).foundation();
</script>
<span id=result></span>

<div id="forsale" class="container" style="padding-top: 75px;"></div>

</body>

</html>